
{% include "header.html" %}

<link href="../static/css/bootstrap.min.css" rel="stylesheet">
{% block body %}
<div class="container">
    <div class="row">
        <div class="col md-12">
            <h2>Student List <button type="button" class="btn btn-success  pull-right" data-toggle="modal" data-target="#myModa">Create Report</button></h2>
    <div class="form-group">
      
   </div>
     
            <table class="table table-striped">
            <tr>
              <th>Name</th>
              <th>Incident</th>
              <th>Action</th>
            </tr>
                {% for row in students %}
                <tr>
                    <td>{{row.1}}</td>
                    <td>{{row.2}}</td>
                    <td>
               <a href="/update/{{row.0}}" class="btn btn-warning btn-xs" data-toggle="modal" data-target="#modaledit{{row.0}}">Edit</a>
                <a href="/delete/{{ row.0 }}" class="btn btn-danger btn-xs" onclick="return confirm('Are You Sure For Delete?')">Delete</a>
                    </td>
                </tr>
<div id="modaledit{{row.0}}" class="modal fade" role="dialog">
   <div class="modal-dialog">
      <div class="modal-content">
         <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 class="modal-title">Update Information</h4>
         </div>
         <div class="modal-body">
            <form action="{{ url_for('update') }}" method="POST">
               <div class="form-group">
                  <label>Name:</label>
                   <input type="hidden"  name="id" value="{{row.0}}">
                  <input type="text" class="form-control" name="name" value="{{row.1}}">
               </div>
               <div class="form-group">
                  <label>Email:</label>
                  <input type="text" class="form-control" name="email" value="{{row.2}}">
               </div>
               <div class="form-group">
                  <label>Phone:</label>
                  <input type="text" class="form-control" name="phone" value="{{row.3}}">
               </div>
               <div class="form-group">
                  <button class="btn btn-primary" type="sbumit">Update</button>
               </div>
            </form>
         </div>
         <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
         </div>
      </div>
   </div>
</div>      
</div>

        {% endfor  %}

</tbody>
</table>
            
        
<!-- Modal -->
<div id="myModal" class="modal fade" role="dialog">
   <div class="modal-dialog">
      <div class="modal-content">
         <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 class="modal-title">Please Insert Data</h4>
         </div>
         <div class="modal-body">
            <form action="{{ url_for('insert') }}" method="POST">
               <div class="form-group">
                  <label>Encoder:</label>
                  <input type="text" class="form-control" name="name" required="1">
               </div>
                <div class="form-group">
                  <label>SOC ID:</label>
                  <input type="text" class="form-control" name="office" required="1">
               </div>
               <div class="form-group">
                  <label>Incident ID:</label>
                  <input type="text" class="form-control" name="office" value=id>
               </div>
               <div class="form-group">
                  <label>What type of Incident:</label>
                  <!--<input type="text" class="form-control" name="email" required="1">-->
                  <h3><table>
      
                     <td>
                     <label>Select :</label>
                       <select name="option" width="300px">
                       {% for x in incid %}
                       <option value="{{ x.0 }}" SELECTED>{{ x.1 }}</option>
                       {% endfor %}
                       </select>
                     </td>
                  
                 
                  </table>
                  </h3>
               </div>
                  <br><br>
                  <div class="checkbox">
                    <label><input type="checkbox" name="check" value="1">1</label>
                  </div>
                  <div class="checkbox">
                    <label><input type="checkbox" name="check" value="2">2</label>
                  </div>
                  <div class="checkbox">
                    <label><input type="checkbox" name="check" value="3">3</label>
                  </div>
                  <div class="checkbox">
                    <label><input type="checkbox" name="check" value="4">4</label>
                  </div>
                  <div class="checkbox">
                    <label><input type="checkbox" name="check" value="5">5</label>
                  </div>
                  
                
               
               <div class="form-group">
                  <button class="btn btn-primary" type="submit">Insert Data</button>
               </div>
               
               
            </form>
         </div>

         <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
         </div>
      </div>
   </div>
</div>   





<div id="myModa" class="modal fade" role="dialog">
   <div class="modal-dialog">
      <div class="modal-content">
         <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 class="modal-title">What type of attack</h4>
         </div>
         <div class="modal-body">
            <form>
               <div class="form-group">
                  <table class="table table-dark">
                     <tbody>
                        {% for x in incid %}
                       <tr>
                         <td><a class="badge" data-toggle="modal" data-target="#mod{{x.0}}">{{x.1}}</a></td>
                       </tr>
               </div>
            </form>
         </div>
      </div>
   </div>
</div> 



<div id="mod{{x.0}}" class="modal fade" role="dialog">
   <div class="modal-dialog">
      <div class="modal-content">
         <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 class="modal-title">Update Information</h4>
         </div>
         <div class="modal-body">
            <form action="{{ url_for('update') }}" method="POST">
               <div class="form-group">
                  <label>Name:</label>
                   <input type="text"  name="id" value="{{x.0}}" disabled>
                   
               </div>
               <div class="form-group">
                  <label>Encoder:</label>
                  <input type="text" class="form-control" name="name" required="1">
               </div>
               <div class="form-group">
                  <label>Office:</label>
                  <input type="text" class="form-control" name="office" required="1">
               </div>
               <div class="form-group">
                  <label>Observed/Discovered:</label>
                  <input type="text" class="form-control" name="observe" required="1">
               </div>
               <div class="form-group"> 
                  
               </div>
            </form>
         </div>
      </div>
   </div>
</div>               
{% endfor %}
</tbody>
</table>                
<br><hr>
  {% include "footer.html" %}
    </div>
</div>
{% endblock %}
<script type="text/javascript" src="{{url_for('static', filename='js/jquery-3.2.1.min.js') }}"></script>
<script type="text/javascript" src="{{url_for('static', filename = 'js/bootstrap.min.js')}}"></script>