<!-- Inheriting all linked files -->
{% extends 'base.html' %} {% include 'header.html' %}

<!-- head section -->
{% block title %} Flask CRUD operation {% endblock %}


<!-- Body section -->
{% block body %}

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="jumbotron p-3">

                <h3><b>Electric Simple Billing Record</b> <button type="button" class="btn btn-success float-right" data-toggle="modal" data-target="#mymodal">Add new Record</button> </h3>

                {% with messages = get_flashed_messages() %} {% if messages %} {% for message in messages %}

                <div class="alert alert-success alert-dismissable" role="alert">
                    <button type="button" class="close" data-dismiss="alert" aria-label="close">
                        <span aria-hidden="true">
                            x
                        </span>
                    </button> {{message}}
                </div>

                {% endfor %} {% endif %} {%endwith%}

                <table class="table table-hover table-dark">
                    <tr>
                        <th>Name</th>
                        <th>Phone</th>
                        <th>Rating</th>
                        <th>Kilowatt</th>
                        <th>Price</th>
                        <th colspan="2">Action</th>
                    </tr>

                    {% for row in all_data %}

                    <tr>
                        <td>{{row.name}}</td>
                        <td>{{row.phone}}</td>
                        <td>{{"%.2f"|format(row.rating)}}</td>
                        <td>{{"%.2f"|format(row.kwh)}}</td>
                        <td>{{"%.2f"|format(row.price)}}</td>
                        <td>
                            <a href="/update/{{row.id}}" class="btn btn-info btn-xs" data-toggle="modal" data-target="#modaledit{{row.id}}">Edit</a>
                            <a href="/delete/{{row.id}}" class="btn btn-danger btn-xs" onclick="return confirm('Are You sure To Delete ?')">Delete</a>
                        </td>
                    </tr>

                    <!-- Model for updating employee data -->
                    <div id="modaledit{{row.id}}" class="modal fade" role="dialog">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h4 class="modal-title"> Update Clients Data </h4>
                                </div>
                                <div class="modal-body">
                                    <form action="{{url_for('update')}}" method="POST">

                                        <div class="form-group">
                                            <label>Name</label>
                                            <input type="hidden" name="id" value="{{row.id}}">
                                            <input type="text" class="form-control" name="name" value="{{row.name}}" required="1">
                                        </div>

                                        <div class="form-group">
                                            <label>Phone</label>
                                            <input type="number" class="form-control" name="phone" value="{{row.phone}}" required="1">
                                        </div>

                                        <div class="form-group">
                                            <label>Rating Per Hour</label>
                                            <input type="number" class="form-control" name="rating" value="{{"%.2f"|format(row.rating)}}" required="1">
                                        </div>

                                        <div class="form-group">
                                            <label>Kilowatt Used</label>
                                            <input type="number" class="form-control" name="kwh" value="{{"%.2f"|format(row.kwh)}}" required="1">
                                        </div>

                                        <div class="form-group">
                                            <label>Price</label>
                                            <input type="number" class="form-control" name="price" value="{{"%.2f"|format(row.price)}}" disabled>
                                        </div>

                                        <div class="modal-footer">
                                            <button class="btn btn-info" type="submit"> Update</button>
                                            <button class="btn btn-secondary" data-dismiss="modal">Close</button>
                                        </div>

                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>

                    {% endfor %}

                </table>

            </div>

            <!-- Model for adding employee -->
            <div id="mymodal" class="modal fade" role="dialog">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h4 class="modal-title"> Add New Entry </h4>
                        </div>
                        <div class="modal-body">
                            <form action="{{url_for('insert')}}" method="POST">

                                <div class="form-group">
                                    <label>Name</label>
                                    <input type="text" class="form-control" name="name" required="1">
                                </div>

                                <div class="form-group">
                                    <label>Phone</label>
                                    <input type="number" class="form-control" name="phone" required="1">
                                </div>

                                <div class="form-group">
                                    <label>Rating Per Hour</label>
                                    <input type="number" class="form-control" name="rating" required="1">
                                </div>

                                <div class="form-group">
                                    <label>Kilowatt Used</label>
                                    <input type="number" class="form-control" name="kwh" required="1">
                                </div>

                                <div class="form-group">
                                    <label>Price</label>
                                    <input type="number" class="form-control" name="price" disabled placeholder="Automated value">
                                </div>

                                <div class="modal-footer">
                                    <button class="btn btn-success" type="submit"> Add Data </button>
                                    <button class="btn btn-secondary" data-dismiss="modal">Close</button>
                                </div>

                            </form>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>

{% endblock %}