<!DOCTYPE html>
<html>

<head>
	<title>Python app</title>
	<meta charset="UTF-8">
	<link rel="stylesheet" type="text/css" href="static/css/bootstrap.min.css">
</head>

<body>
	<div class="container">
		<div class="page-header">
			<h1>Add Client</h1>
		</div>
		<div class="panel-body">
			<form class="navbar-form navbar-left" action="{{ url_for('cadastro') }}" method="POST">
				<table>
					<tr>
						<td>Name:</td>
						<td>
							<input type="text" class="form-control" name="name" required>
						</td>
					</tr>
					<tr>
						<td>Province:</td>
						<td>
							<input type="text" class="form-control" name="prov" required>
						</td>
					</tr>
					<tr>
						<td>Number:</td>
						<td>
							<input type="text" class="form-control" name="num" required>
						</td>
					</tr>
					<tr>
						<td>Baranggay:</td>
						<td>
							<input type="text" class="form-control" name="bara" required>
						</td>
					</tr>
					<tr>
						<td>City:</td>
						<td>
							<input type="text" class="form-control" name="city" required>
						</td>
					</tr>
					<tr>
						<td>Estate:</td>
						<td>
							<input type="text" class="form-control" name="state" required>
						</td>
					</tr>
					<tr>
						<td>Telephone:</td>
						<td>
							<input type="text" class="form-control" name="phone" required>
						</td>
					</tr>
					<tr>
						<td>CPF:</td>
						<td>
							<input type="text" class="form-control" name="cpf" required>
						</td>
					</tr>
					<tr>
						<td>Email:</td>
						<td>
							<input type="text" class="form-control" name="email" required>
						</td>
					</tr>
				</table>
				<br>
				<input type="submit" class="btn btn-primary" value="Save Data" />
				<a href="{{ url_for('list') }}">
					<input type="button" class="btn btn-primary" value="Back">
				</a>
			</form>
		</div>
	</div>

</body>

</html>
