{% extends 'base.html' %}

{% block head %}
<title>home</title>
{% endblock %}

{% block title %} 
    <h3>ALL POST</h3>
    <a href="/add-post" class="btn btn-primary">Add Post</a>
{% endblock %}
    
{% block body %}
    {% for post in posts %}
        <div class="blog-post">
            <h2 class="blog-post-title">{{post[1]}}</h2>
            <p class="blog-post-meta">January 1, 2014 by {{post[3]}}</p>

            <p>{{post[2]}}</p>
            <a href="/api/get-post/{{post[0]}}" class="btn btn-primary">Edit</a>
            <a href="/api/delete/{{post[0]}}" onclick="return confirm('Are You Sure For Delete?')" class="btn btn-danger">Delete</a>
        </div>
    {% endfor %}

    {% with messages = get_flashed_messages() %}
        {% if messages %}
        <div class="alert alert-primary" role="alert">
            {% for message in messages %}
                <p>{{message}}</p>
            {% endfor %}
        </div>
        {% endif %}
    {% endwith %}
{% endblock %}