
{% include "header.html" %}

<link href="{{url_for('static', filename = 'css/bootstrap.min.css')}}" rel="stylesheet">

{% block body %}
<div class="container">
    <div class="row">
        <div class="col md-12">


         <nav class="navbar navbar-inverse " role="navigation">
            <div class="container">
               <!-- Brand and toggle get grouped for better mobile display -->
               <div class="navbar-header">
                 <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse-1">
                   <span class="sr-only">Toggle navigation</span>
                   <span class="icon-bar"></span>
                   <span class="icon-bar"></span>
                   <span class="icon-bar"></span>
                 </button>
               </div>
               <a class="navbar-brand" href=sumar>Summary</a>
               <!-- Collect the nav links, forms, and other content for toggling -->
               <div class="collapse navbar-collapse" id="navbar-collapse-1">
                
                 <ul class="nav navbar-nav navbar-left">
                   <li><a href=../#>Menu</a></li>
                   <li><a href="#">Menu</a></li>
                 </ul>
                 <ul class="nav navbar-nav navbar-right">
                   <li><a href=charty>Link</a></li>
                   <li><a href=bar>Link</a></li>
                   <li><a href=barr>Link</a></li>
                   <li class="dropdown">
                     <a href="#" class="dropdown-toggle" data-toggle="dropdown">Dropdown <b class="caret"></b></a>
                     <ul class="dropdown-menu">
                       <li><a href=../#>Home</a></li>
                       <li><a href="#">Another action</a></li>
                       <li><a href="#">Something else here</a></li>
                       <li class="divider"></li>
                       <li><a href="#">Separated link</a></li>
                     </ul>
                   </li>
                 </ul>
               </div><!-- /.navbar-collapse -->
           </div><!-- /.navbar-container -->
           </nav>
  {% include "footer.html" %}
    </div>
</div>
{% endblock %}
<script type="text/javascript" src="{{url_for('static', filename='js/jquery-3.2.1.min.js') }}"></script>
<script type="text/javascript" src="{{url_for('static', filename='js/bootstrap.min.js')}}"></script>