
{% include "header.html" %}

<link href="{{url_for('static', filename = 'css/bootstrap.min.css')}}" rel="stylesheet">
<!--<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css">-->
<!--<link href="../static/css/page.css" rel="stylesheet">-->

{% block body %}
<div class="container">
    <div class="row">
        <div class="col md-12">


         <nav class="navbar navbar-inverse" role="navigation">
            <div class="container">
              <!-- <a class="navbar-brand" href=sumar>Summary</a>-->
               <!-- Brand and toggle get grouped for better mobile display -->
               <div class="navbar-header">
                 <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse-1">
                   <span class="sr-only">Toggle navigation</span>
                   <span class="icon-bar"></span>
                   <span class="icon-bar"></span>
                   <span class="icon-bar"></span>
                 </button>
                 
               </div>
               <!-- Collect the nav links, forms, and other content for toggling -->
               <div class="collapse navbar-collapse" id="navbar-collapse-1">
                
                 <ul class="nav navbar-nav navbar-left">
                  
                 </ul>
                 <ul class="nav navbar-nav navbar-right">
                   <li><a href=charty>Chart</a></li>
                   <li><a href=bar>Bar</a></li>
                   <li class="dropdown">
                     <a href="#" class="dropdown-toggle" data-toggle="dropdown">Dropdown <b class="caret"></b></a>
                     <ul class="dropdown-menu">
                       <li><a href=../#>Home</a></li>
                       <li><a href="#">Another action</a></li>
                       <li><a href="#">PNC2</a></li>
                       <li><a href="#">PN Web</a></li>
                       <li><a href="#">PN Mail</a></li>
                       <li class="divider"></li>
                       <li><a href="sumar">Summary</a></li>
                       <li><a href="topip">Top 10 IP Attackers</a></li>
                       <li><a href="mail">Mail Monthly Hits</a></li>
                     </ul>
                   </li>
                 </ul>
               </div><!-- /.navbar-collapse -->
           </div><!-- /.navbar-container -->
           </nav>
           
            <table class="table table-hover">
            <tr>
              <th>Country</th>
              <th>Activities</th>
              <th>Hits</th>

            </tr>
                {% for row in students %}
                <tr> 
                    <td>{{row.0}}</td>
                    <td>{{row.1}}</td>
                    <td>{{row.3}}</td>
   
                </tr>
        {% endfor  %}

</tbody>
</table>
<a href="/pdf">Get a DPF</a>
<a href="/ds">Get a DPF</a>
<table>
<tr style="width:200px; border:green">
  <td>
<button onclick="window.print()">Print this page</button>
</td>
  <td>
<div align="right ">{{ pagination.links }}</div>
</td>
</tr>
</table>
  {% include "footer.html" %}
    </div>
</div>
</div>
{% endblock %}
<script type="text/javascript" src="{{url_for('static', filename='js/jquery-3.2.1.min.js') }}"></script>
<script type="text/javascript" src="{{url_for('static', filename='js/bootstrap.min.js')}}"></script>